.letters{
    margin: auto;
    padding:1px;
    height:100%;
    width:100%;
    border-radius:8%;
    min-height: 50px;
    min-width: 50px;
    background-color:white;
    border-color: blue;
    border-width: 4%;
}

.letter-tiles{
    display:grid;

    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    column-gap: 0;
    row-gap:0px;

    align-items: center;
    justify-content: center;

    height:30vh;
    width:50vw;

    max-width:80%;
    max-height: 350px;

    min-height:250px;
    min-width:300px;

    margin-left:auto;
    margin-right:auto;

    font-size: calc(25px + 8vmin);
    color: black;
}
